*.html
*.js
*.txt
.idea
.vscode
.git
__pycache__/
*.py[cod]
*$py.class
.env/
.venv/
env/
venv/
ENV/
build/              
dist/                
*.egg-info/         
wheelhouse/            
*.egg                 
pip-wheel-metadata/   
*.whl                  
htmlcov/
.tox/
.coverage
coverage.xml
nosetests.xml
pytest_cache/
.pytest_cache/
*.log
*.tmp
*.bak
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
*.yml
*.yaml